{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <h3 class="mb-3">Admin Login</h3>
    {% if error %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endif %}
    <form method="post" action="/login">
      <div class="mb-2">
        <label class="form-label">ผู้ใช้</label>
        <input name="username" class="form-control" required>
      </div>
      <div class="mb-2">
        <label class="form-label">รหัสผ่าน</label>
        <input name="password" type="password" class="form-control" required>
      </div>
      <button class="btn btn-primary">เข้าสู่ระบบ</button>
    </form>
  </div>
</div>

{% endblock %}
